.list {
  height: 100%;
  overflow-y: scroll;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  
  & > div {
    align-self: flex-start;
  }


  .empty {
    color: #ffffff;
    margin: 20px;
  }
}